@import "reset";
@import "bourbon";
@import "neat";
@import 'border-box';

@import '_fullmenu';

$red: #ff0000;
$gray: #898585;
$font: Verdana, Arial, Helvetica, sans-serif;
$fontcolor: #ffffff;

body {
    background: lighten($gray, 10%);
    font-family: $font;
    color: $fontcolor;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
        text-decoration: underline;
}

nav {

    ul {
        height: 50px;
        @include outer-container();
    }
    li {
        display: inline-block;
        padding: 15px 10px 0;
        a:hover {
            background: lighten($gray, 30%);
            border-radius: 2px;
            text-decoration: none;
            padding: 5px;
        }
    }
}
h1 {
    font-size: 60px;
    text-align: center;
}
.item-form, .updateform {
    @include outer-container(900px);
    padding-top: 30px;
}
.item-form label, input, textarea, {
    @include span-columns(12);
    padding: 5px 0;
}
button {
    @include button;
}
.menu-newitems li {
    padding: 5px 0;
    margin-left: 10px;
}
.singleitem {
    text-align: center;
    padding: 20px 0;
    .singleitem-name {
        font-size: 1.2em;
    }
    .singleitem-description {
        font-size: 0.8em;
        font-style: italic;
        padding-top: 5px;
    }
}
.actions {
    padding-top: 10px;
}
.updateform label, input, textarea {
    @include span-columns(12);
    padding: 5px 0;
}

