<div class="singleitem">
    <h2>{{model.name}}</h2>
    <h2>{{model.price}}</h2>

    <p>{{model.description}}</p>


<div class="actions">
  {{#link-to 'admin.menu-items.update' model}}
    Edit
  {{/link-to}}
  <a href="#" {{action 'delete' model}}>
    Delete
  </a>
</div>
</div>
