<ul class="menu-newitems">
  <li>{{#link-to 'admin.menu-items.create'}}New Item{{/link-to}}</li>
  {{#each model as |item|}}
    {{#unless item.isNew}}
      <li>
        {{#link-to 'admin.menu-items.show' item}}
          {{item.name}} -
          {{format-money (to-dollars item.price)}}
        {{/link-to}}
      </li>
        {{/unless}}
  {{/each}}
</ul>


{{outlet}}
