<div class="full-menu">
    <h3>Full Menu</h3>
        {{#each model as |item|}}
        <li>
        <h2 class="full-menu-item-name">{{item.name}}
            <span class="full-menu-item-price">{{format-money (to-dollars item.price)}}</span>
        </h2>
        <p class="full-menu-item-description">{{item.description}}</p>
        </li>
        {{/each}}
</div>

