<ul>
  <li>{{#link-to 'admin.menu-items.create'}}New Item{{/link-to}}</li>
  {{#each model as |item|}}
      <li>
        {{#link-to 'admin.menu-items.show'}}
          {{item.name}}
        {{/link-to}}
      </li>
  {{/each}}
</ul>


{{outlet}}
