<h2>{{model.name}} <span>{{model.price}}</span></h2>

<p>{{model.description}}</p>

<div class="actions">
  {{#link-to 'admin.update' model}}
    Edit
  {{/link-to}}
  <a href="#" {{action 'delete' model}}>
    Delete
  </a>
</div>
