<div class="order-box">
    <h3>Shopping Cart</h3>
<table class="order-section">
    <thead id="order-section-menu">
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    </thead>
        {{#each orders.ordersSubmitted as |item| }}
    <tr>
        <td>{{item.name}}</td>
        <td>{{format-money (to-dollars item.price)}}</td>
    </tr>
        {{/each}}
    <tr>
        <td>Total: {{orders.price}}</td>
    </tr>
</table>
</div>
