<div class="main">
<header>
     <h1 id="title">BANGKOK THAI CUISINE</h1>
    <nav>
        <ul>
            <li>{{#link-to 'menus'}}Menu{{/link-to}}</li>
            <li>{{#link-to 'admin'}}Employees Only{{/link-to}}</li>

        </ul>
    </nav>


</header>



<div class="main">
    {{outlet}}
</div>

</div>
